<!-- <body ng-app="app-caesar">
  <p>
    Caesar is here!
  <input ng-model="myInput">
  <label ng-model="outputValue"></label>
  <br>
  <button (click) = "caesar()">CAESAR</button>
  <br>
  <button (click) = "back()">BACK</button>
  </p>
</body> -->
<html>
  <head>
    <title>Caesar Application</title>
  </head>
  <body>
      Caesar is here!
    <!-- <input #box (keyup.enter)="caesar(box.value)"> -->
    <input id="textInput" type="text" #textInput>
    <input id="cipherNumber" type="number" #cipherNumber>
    <button id="caesar" (click) = "caesarClicked(textInput.value, cipherNumber.value)"> ENCRYPT CAESAR</button>
    <p> Result: <label id="outputValue">{{outputValue}}</label></p>
    <br>
    <button id="redirectBack" (click) = "redirectBackClicked()">BACK</button>
  </body>
</html>
