<!-- <body ng-app="app-caesar">
  <p>
    Caesar is here!
  <input ng-model="myInput">
  <label ng-model="outputValue"></label>
  <br>
  <button (click) = "caesar()">CAESAR</button>
  <br>
  <button (click) = "back()">BACK</button>
  </p>
</body> -->
<html>
  <head>
    <title>Caesar Application</title>
  </head>
  <!-- <input #box (keyup.enter)="caesar(box.value)"> -->
  <body>
    <p>Caesar is here!</p>
    <input [(ngModel)]="textInput" id="textInput" (keyup)="makeCaesar()">
    <input  [(ngModel)]="shiftNumber" id="shiftNumber" (keyup)="makeCaesar()">
    <p> Result: <label id="outputValue">{{outputValue}}</label></p>
    <br>
    <button id="decryptCaesar" (click) = "decryptCaesar()">Decrypt</button>
    <br>
    <button id="redirectBack" (click) = "redirectBackClicked()">Back Home</button>
  </body>
</html>
